<footer class="footer">
  <div class="container">
    <div class="level">
      <div class="level-start has-text-centered-mobile">
        <a class="footer-logo is-block has-mb-6" href="<%- url_for('/') %>">
          <% if (has_config('logo.text') && get_config('logo.text')) { %> <%=
          get_config('logo.text') %> <% } else { %>
          <img
            src="<%- url_for(get_config('logo')) %>"
            alt="<%= get_config('title') %>"
            height="28"
          />
          <% } %>
        </a>
        <p class="is-size-7">
          &copy; <%= date(new Date(), 'YYYY') %> <%= get_config('author') ||
          get_config('title') %>&nbsp; All Rights Reserved.
          <a href="https://www.beian.miit.gov.cn">蜀ICP备20007431号</a>
          <!-- at <%= get_config('location') %> -->
        </p>
        <p class="is-size-7">
          <a
            target="_blank"
            href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=51019002002636"
            style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"
            ><img src="/images/beian.png" style="float:left;" />
            &nbsp;川公网安备 51019002002636号
          </a>
        </p>
      </div>
      <div class="level-end">
        <% if (has_config('footer.links')) { %>
        <div
          class="field has-addons is-flex-center-mobile has-mt-5-mobile is-flex-wrap is-flex-middle"
        >
          <% let links = get_config('footer.links'); %> <% for (let name in
          links) { let link = links[name]; %>
          <p class="control">
            <a
              class="button is-white <%= typeof(link) !== 'string' ? 'is-large' : '' %>"
              target="_parent"
              title="<%= name %>"
              href="<%= url_for(typeof(link) === 'string' ? link : link.url) %>"
            >
              <% if (typeof(link) === 'string') { %> <%= name %> <% } else { %>
              <i class="<%= link.icon %>"></i> <% } %>
            </a>
          </p>
          <% } %>
        </div>
        <% } %>
      </div>
    </div>
  </div>
</footer>
